$fonsSize: 50 * 2;
@function r($n) {
  @return $n/$fonsSize + rem;
}

/*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (min-width: 1371px) and (max-width: 1600px) {
  .vote-box {
    width: 1035px !important;
  }
  .vote-left-banner {
    width: 800px !important;
  }
  .vote-list-box {
    li {
      width: 110px !important;
    }
  }
  .vote-figure {
    height: 400px !important;
  }
  .vote-end-title {
    margin: 0 !important;
  }
  .vote-info-title {
    font-size: 20px !important;
  }

  .vote-info-date {
    font-size: 15px !important;
    line-height: 13px !important;
  }
}

/*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (max-width: 1370px) {
  .header-main {
    width: 960px !important;
  }
  .vote-box-right {
  }
  .vote-left-banner {
    width: 705px !important;
  }
  .vote-list-box {
    li {
      width: 80px !important;
      margin-right: 35px !important;
    }
  }
  .vote-end-title {
    margin: 0 !important;
    height: 40px;
  }
  .vote-figure {
    height: 300px !important;
  }
  .picture-box {
    height: 200px !important;
  }

  .end-champion-role {
    height: 433px !important;
  }

  .vote-box {
    width: 960px !important;
  }
  .vote-info-title {
    font-size: 15px !important;
    line-height: 15px !important;
  }

  .vote-info-date {
    margin-top: 11px !important;
    font-size: 12px !important;
    line-height: 10px !important;
  }
  .vote-number{
    height: 40px !important;
    line-height: 20px !important;
  }
}

@media screen and (orientation: landscape) and (max-height: 420px)and (max-width: 820px){
  body {
    background: #182035;

    @-webkit-keyframes fadeIn {
      0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
      }
      100% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
      }
    }
    @keyframes fadeIn {
      0% {
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
      }
      100% {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
      }
    }
    .landscape {
      display: block;
      height: 100%;
      animation: fadeIn 2 infinite alternate;
      -webkit-animation: fadeIn 2s infinite alternate;
      -moz-transform: fadeIn 2s infinite alternate;
      transform: rotate(0);
      -webkit-transform: rotate(0);
      -moz-transform: rotate(0);
      background:  url("../imgs/m/landscape.png") center 0 no-repeat;
    }
    #root {
      display: none;
    }
  }
}
.landscape {
  display: none;
}