$fonsSize: 50 * 2;
@function r($n) {
  @return $n/$fonsSize + rem;
}
@mixin clear-both {
  &:after {
    clear: both;
    content: ".";
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@mixin box-center {
  width: 1200px;
  margin: 0 auto;
}
@keyframes mouse {
  0% {
    top: 8px;
  }
  100% {
    top: 24px;
  }
}
@keyframes gourp-mouse {
  0% {
    top: 5px;
  }
  100% {
    top: 12px;
  }
}

.pc-main {
  //margin-top: 80px;
  //width: 100%;
  //overflow: auto;
  //position: absolute;
  //z-index: 10;
  //top: 80px;
  //bottom: 0;

  .section {
    padding-top: 80px;
    overflow: hidden;
  }

  .banner {
    height: 100%;
    position: relative;
    background: url("../../assets/imgs/banner.png") 50% no-repeat border-box border-box;
    background-size: cover;
    .scroll-img {
      position: absolute;
      left: 50%;
      bottom: 103px;
      width: 208px;
      height: 52px;
      margin-left: -104px;
      text-align: center;
      line-height: 45px;
      font-size: 20px;
      font-family: Source Han Sans CN;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      background: url("../../assets/imgs/scroll-background.png") no-repeat;
      background-size: 100% 100%;
      &::after {
        animation: mouse 2s infinite;
        position: absolute;
        top: 8px;
        left: 15px;
        display: block;
        content: " ";
        width: 2px;
        height: 10px;
        background-color: #fff;
      }
    }
  }

  .vote-banner {
    height: 100%;
    position: relative;
    background: url("../../assets/imgs/vote-banner.png") 50% no-repeat border-box border-box;
    background-size: cover;
    .vote-not-start {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      font-size: 40px;
      color: #bba0f2;
      font-weight: bold;
      line-height: 100px;
      transform: translate(-50%, -50%);
    }
    .vote-box {
      @include box-center;
      @include clear-both;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .swiper-pagination {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;

        .swiper-pagination-bullet {
          display: block;
          width: 30px;
          height: 30px;
          background: url("../../assets/imgs/banner-page.png") no-repeat;
          margin-right: 10px;
        }
        .swiper-pagination-bullet-active {
          background: url("../../assets/imgs/banner-page-hover.png") no-repeat;
        }
      }
      .swiper-container {
        padding-bottom: 40px;
      }

      .vote-left-banner {
        float: left;
        width: 972px;

        .vote-list-box {
          @include clear-both;
          li {
            position: relative;
            float: left;
            width: 144px;
            margin-top: 20px;
            margin-right: 15px;
            text-align: center;
            cursor: pointer;
            .text {
              height: 16px;
              font-size: 16px;
              text-align: center;
              line-height: 16px;
              font-weight: bold;
              color: rgba(187, 160, 242, 1);
            }
          }
          .vote-number {
            position: absolute;
            bottom: 50px;
            left: 50%;
            display: block;
            width: 80%;
            height: 30px;
            margin: 0 auto;
            text-align: center;
            line-height: 30px;
            background: #30384e;
            font-size: 14px;
            color: rgba(187, 160, 242, 1);
            transform: translateX(-50%);
            cursor: pointer;
            &:hover {
              .shade-box {
                display: none;
              }
            }
          }

          //li:nth-of-type(6n) {
          //  margin-right: 0;
          //
          //
          //}

          //li:nth-of-type(-n+6) {
          //  margin-top: 5px;
          //}
        }
      }
    }

    .scroll-img {
      position: absolute;
      left: 50%;
      bottom: 15px;
      //width: 208px;
      height: 29px;
      margin-left: -80px;
      text-align: center;
      line-height: 29px;
      font-size: 16px;
      font-weight: 400;
      color: rgba(102, 102, 102, 1);
      &::after {
        animation: gourp-mouse 2s infinite;
        position: absolute;
        top: 5px;
        left: 8px;
        display: block;
        content: " ";
        width: 2px;
        height: 8px;
        background-color: #666666;
      }
      span {
        margin-left: 12px;
      }
    }
  }

  .vote-box-right {
    float: right;

    .vote-info-box {
      position: relative;

      display: inline-block;
      width: 198px;
      text-align: center;
    }
    .vote-figure {
      margin-left: -18px;
      //margin: 0 auto;
      //width: 227px;
      //height: 554px;
      //background: url("../../assets/imgs/vote-figure.png") no-repeat;
      //background-size: 100% 100%;
    }
    .vote-info {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      .vote-info-title {
        font-size: 46px;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        line-height: 60px;
      }

      .vote-info-date {
        width: 175px;
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
        color: rgba(187, 160, 242, 1);
        line-height: 20px;
        letter-spacing: -2px;
      }
      .vote-info-date-title {
        letter-spacing: 10px;
      }
    }

    .submit {
      display: block;
      width: 198px;
      height: 52px;
      margin-top: 20px;
      //margin: 20px 0 0 23px;
    }
  }

  .rule-banner {
    position: relative;
    background: url("../../assets/imgs/rule-banner.png") 100% no-repeat border-box border-box;
    background-size: cover;
    .rule-box {
      @include box-center;
      width: 1090px;
      position: relative;
      height: 100%;
      padding: 0 130px 0 130px;
      text-align: left;
      color: #fff;
      overflow: hidden;

      .rule-title {
        display: block;
        height: 86px;
        margin: 0 auto;
      }

      .rule-text {
        position: absolute;
        right: -11px;
        // height: r(520);
        height: 80%;
        padding-bottom: 230px;
        line-height: 32px;
        overflow: auto;

        p {
          position: relative;
          padding-left: 30px;

          &:after {
            content: "";
            display: block;
            position: absolute;
            top: 8px;
            left: 0;
            width: 12px;
            height: 12px;
            background: url("../../assets/imgs/rule-tag.png") no-repeat;
          }
        }

        span {
          color: #bba0f2 !important;
        }

        p:nth-of-type(7) {
          margin-top: 40px;
        }
        p:nth-of-type(8) {
          margin-top: 40px;
        }
        p:nth-of-type(9) {
          margin-top: 40px;
        }
        ol,
        ul {
          padding-left: 30px;
        }
        strong {
          display: inline-block;
          // margin-top: 40px;
        }

        &::-webkit-scrollbar {
          width: 7px !important;
          height: 7px !important;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 10px !important;
          -webkit-box-shadow: inset 0 0 5px #9b9ba3;
          background: rgba(152, 155, 163, 0.5);
        }
      }
    }
  }

  .vote-end-box {
    height: 100%;
    text-align: center;
    background: url("../../assets/imgs/vote-end-background.png") 100% no-repeat border-box border-box;
    background-size: cover;
    .vote-end-title {
      margin: 70px 0 40px 0;
    }

    .vote-end {
      @include clear-both;
      width: 914px;
      margin: 0 auto;

      .end-champion-role {
        float: right;
        //width: 360px;
        height: 585px;
      }

      .vote-end-left {
        float: left;
        width: 360px;
        color: #fff;

        .card-image {
          margin: 45px 0 30px 0;
          @include clear-both;

          .picture-box {
            float: left;
            // width: 144px;
            height: 256px;
            img {
              height: 100%;
            }
          }

          .picture-desc {
            float: left;
            padding: 40px 10px 0 10px;
            text-align: left;
            color: #ddcaf8;

            .picture-desc-title {
              font-size: 22px;
              font-weight: bold;
              line-height: 23px;
              margin-bottom: 15px;
            }

            .picture-desc-camp {
              font-size: 20px;
              line-height: 20px;
            }

            .picture-cost {
              margin-bottom: 15px;
            }

            .picture-line {
              display: block;
              height: 1px;
              width: 100%;
              margin: 20px 0;
              background: #454961;
            }
          }
        }

        .champion {
          font-size: 34px;
          font-weight: bold;
          color: rgba(187, 160, 242, 1);
          line-height: 33px;
        }

        .champion-number {
          height: 33px;
          margin: 10px 0 25px;
          font-size: 18px;
          font-weight: 400;
          color: rgba(187, 160, 242, 1);
          line-height: 33px;
          background: url("../../assets/imgs/champion-number.png") no-repeat;
          background-size: 100% 100%;
        }

        .champion-name {
          font-size: 42px;
          font-weight: bold;
          color: #fdfbfb;
          line-height: 40px;
          text-shadow: 0 0 20px #b366eb;
        }
      }
    }
  }
}

.download-modal {
  .modal-text {
    height: 26px;
    margin-top: 40px;
    margin-bottom: 58px;
    font-size: 26px;
    font-weight: 400;
    color: rgba(145, 125, 186, 1);
    line-height: 26px;

    a {
      font-size: 26px;
      font-weight: bold;
      color: #fff;
    }
  }

  .download-button {
    cursor: pointer;
  }
}
