$fonsSize: 50*2;
@function r($n) {
  @return $n/$fonsSize+rem;
}

@mixin clear-both {
  &:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

@mixin box-center {
  width: 1200px;
  margin: 0 auto;

}

.m-header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: r(15) r(35);
  height: r(120);
  line-height: r(83);
  color: #fff;
  background: url("../../../assets/imgs/m/header-background.png") no-repeat;
  z-index: 10;
  @include clear-both;
  .header-left{
    float: left;
    .login-icon{
      width: r(83);
      height: r(83);
      margin-right: r(16);
    }
  }
  .header-right{
    float: right;
    .header-icon{
      height: r(36);
      margin: r(20) 0 0 r(44);
    }
  }
}
.wx-share-qrcode{
  position: absolute;
  top: 50%;
  left: 50%;
  width: r(300);
  height: r(300);
  transform: translate(-50%,-50%);
  .wx-share-text{
    text-align: center;
  }
}

.m-login-button{
  display: inline-block;

  .m-login-border{
    //width: r(100);
    &::after{
      display: block;
      content: ' ';
      width: r(100);
      height: 1px;
      margin: r(10) 0;
      background: #fff;
    }
  }

  p{
    font-size: r(20);
    line-height: r(29);
    font-style: italic;
    letter-spacing: .5px;
  }
  .m-user-name{
    margin-bottom: 10px;
    //display: inline-block;
    //width: r(200);
    //overflow: hidden;
  }
}
.m-share-modal-box{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  li{
    width: 60%;
    height: r(120);
    margin: 0 auto r(60) auto;
    line-height: r(120);
    text-align: center;
    .icon{
      //width: r(40);
      height: r(40);
      margin-right: r(40);
      vertical-align: middle;
    }
  }
  .active{
    background: url("../../../assets/imgs/m/share-text-hover.png") no-repeat;
    background-size: 150% 100%;
    background-position: -50px 0;
  }
}
.m-down-modal-box{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  img{
    display: block;
    width: r(120);
    height: r(120);
    margin: 0 auto r(30) auto;
  }
  span{
    font-size:r(28);
    font-weight:bold;
    color:rgba(255,255,255,1);
  }

}
